streamlit
python-dotenv

# LangChain ecosystem
LangChain
langchain-core
langchain-community
langchain-groq  

# Vector stores
faiss-cpu
chromadb

# Sentence Transformers for Embeddings
sentence-transformers

# PDF Loader dependency
pypdf

# Optional utils
tqdm
