python-dotenv
fastapi
uvicorn[standard]
python-multipart

# LangChain ecosystem
LangChain
langchain-core
langchain-community
langchain-groq
langchain-experimental

# Vector stores
faiss-cpu
chromadb

# Sentence Transformers for Embeddings
sentence-transformers

# PDF Loader dependency
pypdf

# Optional utils
tqdm
